body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.main{
  background: #5468;
  width: 1440px;
  height: 3818px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #e0e0e0;
  width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background: white;
  width: 100%;
  padding-left: 30px;
}
.nav {
  display: flex;
  list-style-type: none;
  gap: 70px;
  justify-content: space-start;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 20px;
}
.nav  a{
  text-decoration: none;
  color: black;
}
.nav-item {
  margin: 0 15px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.signup, .login {
  margin-left: 15px;
  font-weight: bold;
  cursor: pointer;
}
.signup {
  color: #black;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100px;
  background: #F5F2EC;
  border-radius: 0 0 0 40px;
}
.circle{
  width: 30px;
  height: 30px; 
}
