@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000000;
}
.container {
    width: 1440px;
    height: 3818px;
    background: #ffffff;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 30px;
}
.logo {
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}
.circle {
    font-size: 12px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soundtrack {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 70px;
    letter-spacing: 1px;
}
.nav {
    display: flex;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.nav a {
    color: #000;
    text-decoration: none;
}
.buttons {
    display: flex;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #553C16;
    letter-spacing: 0.5px;
}
.button.s {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 589px;
}
.button.gray {
    width: 160px;
    height: 100px;
    background: #F5F2EC;
    border-radius: 0 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    position: relative;
    width: 1360px;
    height: 900px;
    padding-left: 130px;
}
.main>.photos {
    position: absolute;
}
.title {
    width: 498px;
    height: 302px;
}
.section-title {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.5000000596046448px;
    text-align: left;
}
.title-info {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5000000596046448px;
    text-align: left;
}
.email-box {
    position: relative;
    display: flex;
    width: 682px;
    height: 123px;
    gap: 151px;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    z-index:1;
    align-items: center;
    
}
.email-box .wrapper{
    display: flex;
    flex-direction: column;
}
.email-box p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
.email-box .email {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.23000000417232513px;
    text-align: left;
}
.email-box>button {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.32307693362236023px;
    text-align: center;
    width: 190px;
    height: 67px;
    border-radius: 10px;
    background: #725BA1;
    border: none;
    color: #fff;
}
.photos {
    display: flex;
    align-items: center;
    width: 1220px;
    height: 890px;
    top: 0;
    right: 0;
}
.photos img:nth-child(1) {
    align-self: flex-end;
}
.photos img:nth-child(2) {
    align-self: flex-start;
}
.photos img:nth-child(3) {
    margin-top: 215px;
}
